---
layout: page
title: Fábio Schmidt
description: "Personal web page, blog and promoter projects!"
---

{% assign s = site.social %}
<div class="home">
    <p class="name">
        <span class="first">F&aacute;bio</span>
        <span class="sec">Schmidt</span>
    </p>
    <p class="description">
        Hi! I'm a Software Developer and Entrepreneur in Planet Earth.
    </p>
    <ul class="social">
        {% if s.twitter %}
        <li>
            <a href="{{ s.twitter }}" target="_blank" title="Visit me on Twitter"><i class="fa fa-twitter"></i></a>
        </li>
        {% endif %}
<!--         {% if s.linkedin %}
        <li>
            <a href="{{ s.linkedin }}" target="_blank" title="Visit me on Linkedin"><i class="fa fa-linkedin"></i></a>
        </li>
        {% endif %} -->
        {% if s.github %}
        <li>
            <a href="{{ s.github }}" target="_blank" title="Visit me on Github"><i class="fa fa-github"></i></a>
        </li>
        {% endif %}
        {% if s.contact %}
        <li>
            <a href="{{ s.contact }}" target="_blank" title="Send me message"><i class="fa fa-envelope"></i></a>
        </li>
        {% endif %}
    </ul>
</div>
