---
layout: default
---

{% assign background = site.data.profile.background[page.image] %}
{% if page.title != "Home" %}
<style type="text/css">
    #main > header {
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% if background %}{{ background }}{% else %}{{ page.image }}{% endif %});
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% if background %}{{ background }}{% else %}{{ page.image }}{% endif %});
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% if background %}{{ background }}{% else %}{{ page.image }}{% endif %});
        background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% if background %}{{ background }}{% else %}{{ page.image }}{% endif %});
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
</style>
{% endif %}
<div id="page__wrapper"  style="background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% if background %}{{ background }}{% else %}{{ page.image }}{% endif %});">
    {% include nav.html %}
    {{ content }}
</div>
