---
layout: page
---

<section id="main">
    <header>
        <h2>{{ page.title }}</h2>
        <p>{{ page.date | date: "%B %-d, %Y" }}</p>
        <ul>
            <li><i class="fa fa-archive"></i> {{ page.categories }}</li>
            <li><i class="fa fa-tags"></i> {{ page.tags }}</li>
        </ul>
    </header>
</section>
<section id="content" class="wrapper__content">
    <div class="wrapper__content-inner blog">
        <ul class="breadcrumb">
            <li><a href="/blog/">Blog</a></li>
            <li class="active">/ {{ page.title }}</li>
        </ul>
        <article class="post">
            <p class="content">
                {{ content }}
            </p>
        </article>
        <hr/>
    </div>
    {% include footer.html %}
</section>


<style>
    .breadcrumb li{
        display: inline-block;
        color: dodgerblue;
    }
    .breadcrumb li a{
        text-decoration: none;
        border: none;
    }
    .breadcrumb li.active{
        color: #1E2327;
    }
</style>