{% assign author = site.author %}{% assign link = site.links %}
<footer>
    <p class="copy">
        <a href="{{link.mit}}" target="_blank" title="{{link.mit}}">MIT&nbsp;License</a>
        <i class="fa fa-copyright"> {{ site.time | date: '%Y' }} {{ site.name}}.</i>
    </p>
    <!--<a class="toTop" href="#">Back to Top <i class="fa fa-arrow-up"></i></a>-->
    <p class="author">
        Minimalist Design made with <3
        by <a href="{{link.twitter}}{{author.twitter}}" target="_blank" title="@{{author.twitter}}">@fcschmidt</a>.
    </p>
</footer>