{% assign author = site.author %}
<header>
    <nav class="menu">
        <a class="brand" href="/">{{ site.name }}</a>
        <a class="github-icon" href="https://github.com/{{ author.github }}" target="_blank"><i class="fa fa-github"></i></a>
        <ul>
            <li class="{% if page.title contains 'Home' %}active{% endif %}"><a href="/">home</a></li>
            <li class="{% if page.url contains 'projects'%}active{% endif %}"><a href="/projects/">projects</a></li>
            <li class="{% if page.title contains 'About'%}active{% endif %}"><a href="/about/">about</a></li>
            <li class="{% if page.title contains 'Blog'%}active{% endif %}"><a href="/blog/">blog</a></li>
            <li class="{% if page.url contains 'research'%}active{% endif %}"><a href="/research/">research</a></li>
        </ul>
    </nav>
</header>