<footer class="meta">
    <div class="test">
        <h5><i class="fa fa-user"></i> About the author</h5>
        <img class="author-avatar" src="/assets/images/{{ site.image }}" alt="">
        <p class="author-about">
            Fábio C. Schmidt
        </p>
    </div>
    <div class="share">
        <h5><i class="fa fa-share-alt"></i> SHARE AND SUBSCRIBE</h5>
    </div>
</footer>
<style>
    .meta .test h5{
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 1px solid #EEEEEE;
    }
    .meta .test .author-avatar{
        margin-bottom: 3em;
        width: 7em;
        height: 7em;
        float: left;
        clear: both;
    }
    .meta .test .author-about{
        margin-top: -.6em;
        padding-left: 1em;
        float: left;
    }
    .meta .share{
        float: left;
        clear: both;
    }
    .meta .share h5{
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 1px solid #EEEEEE;
    }
</style>