<header class="nav__menu-primary header__menu clearfix">
    <a id="btn__menu" class="btn text-capitalize"><i class="fa fa-bars"></i>
        {% if page.nav == "home" %}Home{% else %}Blog{% endif %}
    </a>
    <div class="container">
        <nav class="nav__menu-content">
            <a class="navbar-brand" href="/"><span class="logo">{{ site.name }}</span></a>
            <ul class="nav__menu-list list-unstyled">
                <li class="home"><a href="/">Home</a></li>
                <li class="blog"><a href="/blog/">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
<header class="header__nav-mobile">
   {% assign author = site.author %}
    <nav id="mobile__menu" class="header__nav-container">
        <header class="header__nav-author text-center clearfix">
            {% if author.avatar %}
            <img class="img img-responsive img-rounded center-block" src="/assets/images/{{ author.avatar }}" alt="{{ author.avatar }}"/>
            {% endif %}
            {% if author.name %}<h3 class="name">{{ author.name }}</h3>{% endif %}
            {% if author.bio %}<p class="bio">{{ author.bio }}</p>{% endif %}
        </header>
        <ul class="header__nav-content list-unstyled">
            <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li class="blog"><a href="/blog/"><i class="fa fa-pencil"></i> Blog</a></li>
            <li class="header__nav-social">
                {% if author.twitter %}
                <a href="https://twitter.com/{{ author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if author.gplus %}
                <a href="https://plus.google.com/u/0/{{ author.gplus }}" target="_blank"><i class="fa fa-google-plus"></i></a>
                {% endif %}
                {% if author.instagram %}
                <a href="https://instagram.com/{{ author.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
                {% endif %}
                {% if author.linkedin %}
                <a href="https://www.linkedin.com/in/{{ author.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                {% endif %}
                {% if author.github %}
                <a href="https://github.com/{{ author.github }}" target="_blank"><i class="fa fa-github"></i></a>
                {% endif %}
                {% if author.bitbucket %}
                <a href="https://bitbucket.org/{{ author.bitbucket }}" target="_blank"><i class="fa fa-bitbucket"></i></a>
                {% endif %}
                {% if author.stackoverflow %}
                <a href="http://stackoverflow.com/{{ author.stack-overflow }}" target="_blank"><i class="fa fa-stack-overflow"></i></a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
