<nav>
    <ul class="pager">
        {% if page.previous %}
        <li class="previous">
            <a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">
                <span aria-hidden="true">&larr;</span> Previous
            </a>
        </li>
        {% else %}
        <li class="previous disabled">
            <a href="#" title="{{ page.previous.title }}">
                <span aria-hidden="true">&larr;</span> Previous
            </a>
        </li>
        {% endif %}
        {% if page.next %}
        <li class="next">
            <a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">Next
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {% else %}
        <li class="next disabled">
            <a href="#" title="{{ page.next.title }}">Next
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
<div class="clearfix"></div>