<nav class="paginator">
    <ul>
        {% if page.previous %}
        <li class="previous">
            <a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">
                <span aria-hidden="true" class="fa fa-long-arrow-left"></span> Previous
            </a>
        </li>
        {% else %}
        <li class="previous disabled">
            Empty
        </li>
        {% endif %}
        {% if page.title contains 'Blog' %}
        <li class="pagination">
            <span>{{ paginator.page }}</span> of <span>{{ paginator.total_pages }}</span>
        </li>
        {% endif %}
        {% if page.next %}
        <li class="next">
            <a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">
                Next <span aria-hidden="true" class="fa fa-long-arrow-right"></span>
            </a>
        </li>
        {% else %}
        <li class="next disabled">
            Empty
        </li>
        {% endif %}
    </ul>
</nav>