{% assign author = site.author %}
<aside class="sidebar col-sm-4 col-md-3 col-md-push-1 hidden-xs">
    <div class="sidebar__avatar clearfix">
        {% if author.avatar %}
        <img class="img img-responsive img-rounded clearfix" src="/assets/images/{{ author.avatar }}" alt="Avatar"/>
        {% endif %}
    </div>
    {% if author.name %}
    <a class="name" href="/">
        <span id="fname">{{ author.name | split:' ' | first }}</span>
        <span id="lname">{{ author.name | split:' ' | last }}</span>
    </a>
    {% endif %}
    {% if author.bio %}
    <p class="bio">{{ author.bio }}</p>
    {% endif %}
    <a href="https://twitter.com/fcschimidt" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @fcschimidt</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <ul class="sidebar__meta list-unstyled">
        {% if author.location %}
        <li class="location"><i class="fa fa-map-marker"></i> {{ author.location }}</li>
        {% endif %}
        {% if author.email %}
        <li class="message"><a href="mailto:{{ author.email }}" target="_blank" title="{{ author.email }}"><i class="fa fa-fw fa-envelope-o"></i> {{ author.email }}</a></li>
        {% endif %}
    </ul>
    <footer class="sidebar__footer">
        {% include social.html %}
    </footer>
    <div class="btn__lang">
        <button type="button" class="btn">EN</button>
        <button type="button" class="btn">PT</button>
    </div>
</aside>

