<header class="header post__header">
    <div class="header__container">
        <p class="title">{{ page.title }}</p>
          <script id="dsq-count-scr" src="//fcschmidt.disqus.com/count.js" async></script>
        <a href="{{ site.baseurl }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}"></a>
        <ul class="header__data list-unstyled list-inline">
            <li><i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}</li>&mdash;
            <li class="text-uppercase">{{ page.lang }}</li>
        </ul>
    </div>
</header>
