{% assign disqus = site.disqus__shortname.user-name %}
<nav class="header__menu">
    <ul class="nav__menu-secondary list-unstyled">
        <li class="{% if page.url contains 'blog' %}current{% endif %}"><a href="/blog/">Blog</a></li>
        <li class="{% if page.url contains 'categories' %}current{% endif %}"><a href="/categories/">Categories</a></li>
        <li class="{% if page.url contains 'tags' %}current{% endif %}"><a href="/tags/">Tags</a></li>
    </ul>
</nav>
<header class="header__blog">
    <div class="header__content" style="margin-top: 1em">
        {% if page.class == "blog"%}
        <h1 class="title">{{ page.title }}</h1>
        <p class="desc">{{ page.description }}</p>
        {% endif %}
        {% if page.class == "post" %}
        <h1 class="title">{{ page.title }}</h1>
        <script id="dsq-count-scr" src="//{{ disqus }}.disqus.com/count.js" async></script>
        <a href="{{ site.baseurl }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}"></a>
        <ul class="header__data list-unstyled list-inline">
            {% if page.lang == "en" %}
            <span>Published {{ page.date | date: "%B %-d, %Y"}}</span> &mdash;
            {% else %}
            <span>Publicado em {{ page.date | date: "%B %-d, %Y"}}</span> &mdash;
            {% endif %}
            <li><i class="fa fa-bookmark"></i>
                {% for category in page.categories %}
                <span>{{ category }}</span> &middot;
                {% endfor %}
            </li>
            <li><i class="fa fa-tags"></i>
                {% for tag in page.tags %}
                <span>{{ tag }}</span> &middot;
                {% endfor %}
            </li>
        </ul>
        {% endif %}
    </div>
</header>
