<nav class="post__nav row">
    <ul class="list-unstyled text-center">
        {% if page.previous %}
        <a class="previous col-xs-6 col-md-6" href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">
            <li>
                <span aria-hidden="true" class="fa fa-long-arrow-left"></span> Previous<br>
            </li>
        </a>
        {% else %}
        <a class="previous disabled col-xs-6 col-md-6" href="#" title="{{ page.previous.title }}">
            <li><span aria-hidden="true" class="fa fa-long-arrow-left"></span> Previous</li>
        </a>
        {% endif %}
        {% if page.next %}
        <a class="next col-xs-6 col-md-6" href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">
            <li>
                Next <span aria-hidden="true" class="fa fa-long-arrow-right"></span><br>
            </li>
        </a>
        {% else %}
        <a class="next disabled col-xs-6 col-md-6" href="#" title="{{ page.next.title }}">
            <li>Next <span aria-hidden="true" class="fa fa-long-arrow-right"></span></li>
        </a>
        {% endif %}
    </ul>
</nav>