{% if site.url %}
  {% assign base_path = site.url | append: site.baseurl %}
{% else %}
  {% assign base_path = site.github.url %}
{% endif %}
<footer class="post__footer">
    <div class="post__meta">
        <ul class="list-unstyled">
            <li><i class="fa fa-bookmark"></i>
                {% for category in page.categories %}
                <span>{{ category }}</span> &middot;
                {% endfor %}
            </li>
            <li><i class="fa fa-tags"></i>
                {% for tag in page.tags %}
                <span>{{ tag }}</span> &middot;
                {% endfor %}
            </li>
        </ul>
    </div>
    <div class="footer__author row">
        {% assign author = site.author %}
        {% if author.avatar %}
        <img class="img img-responsive img-circle" src="/assets/images/{{ author.avatar }}" alt="{{ author.avatar }}"/>
        {% endif %}
        <div class="footer__author-content">
            {% if author.name %}
            <p class="name">{{ author.name }}</p>
            {% endif %}
            {% if author.bio %}
            <p class="bio">{{ author.bio }}</p>
            {% endif %}
            {% include social.html %}
        </div>
    </div>
    <br/>
</footer>
{% include blog/post_paginate.html %}
{% include disqus.html %}