/*
===============================
    General style
===============================
*/
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #47494D;
    /*color: #3b393d;*/
}
img,
iframe,
object,
embed,
video {
    max-width: 100%;
    height: 50vh;
}
.main__container {
   margin-top: 1.5em;
}
.heading {
    font-size: 2rem;
    color: #778899;
}
code, samp, mark{
    color: #1b6d85;
}
/*
===============================
    Default styles
===============================
*/
.header{
    background-color: #f5f5f5;
    /*background-color: #F6F9FA;*/
    /*border-bottom: 1px solid #F1F1F1;*/
    margin-bottom: -.5em;
}
.header .nav__menu .nav__menu-brand{
    text-decoration: none;
    display: none;
}
.header .btn{
    background-color: #f5f5f5;
    color: #1e90ff;
    /*background-color: #F6F9FA;*/
    border: none;
    border-radius: 0;
}
.header .nav__menu{
    margin: 0;
    border-top: 1px solid #F1F1F1;
    display: none;
}
.header .nav__menu .nav__menu-primary li{
    background-color: #F1F1F1;
    /*border-bottom: 1px solid #F6F9FA;*/
    border-bottom: 1px solid #faebd7;
    padding: .5em;
}
.header .nav__menu .nav__menu-primary li a{
    text-decoration: none;
    color: #778899;
}
.nav__menu .nav__menu-primary .home a{
    font-weight: 600;
    color: #1e90ff;
}
.header .nav__menu .social{
    text-align: center;
    margin-top: -.4em;
    margin-bottom: 0;
}
.header .nav__menu .social li{
    padding: .3em;
    display: inline-block;
}
.header .nav__menu .social li a{
    color: #778899;
}
/*.header .page__header-author{
    text-align: center;
    border-top: 1px solid #F1F1F1;
}
.header .page__header-author img{
    width: 4em;
    height: 4em;
}*/
/* Page header */
.header .page__header{
    background-color: #F6F9FA; /*F6F9FA*/
    border-top: 1px solid #F1F1F1;
    padding: 1em;
}
.header .page__header .img{
    width: 4em;
    height: 4em;
    opacity: .6;
    float: left;
    margin-right: 1em;
    border-radius: 2px;
}
.header .page__header a.name{
    color: #1b6d85;/*333333;*/
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    margin: 0;
    padding-left: .1em;
}
.header .page__header a.name #lname{font-weight: 600;}
.header .page__header .bio{
    color: #1b6d85;
    text-transform: uppercase;
    font-size: 1.2rem;
    float: left;
    line-height: 1.1;
    margin-top: .3em;
}
.header .page__header .location{
    color: #778899;
    font-size: 1.4rem;
    letter-spacing: .1em;
    margin: 0;
}
/* Secondary menu */
nav.header__menu{
    background-color: #F6F9FA;
    margin: -1.5em -.95em 0 -.95em;
}
.header__menu .nav__menu-secondary{
    border-top: 1px solid #faebd7;
    border-bottom: 1px solid #faebd7;
    margin-bottom: .9em;
    padding: .3em;
}
.header__menu .nav__menu-secondary li{
    display: inline-block;
    margin-top: .2em;
    margin-left: -.3em;
    margin-right: .2em;
}
.header__menu .nav__menu-secondary li a{
    color: #808080;
    letter-spacing: .1em;
    text-decoration: none;
    padding: 0 1em 0 1em;
}
.header__menu .nav__menu-secondary li a:hover{
    color: #181C1F;
}
.header__menu .nav__menu-secondary li.current a{
    /*color: #1b6d85;*/
    color: #181C1F;
    border-bottom: 2px solid #1b6d85;
    padding-bottom: .4em;
}

/* Footer */
.footer{
    /*background-color: #F6F9FA;*/
    text-align: center;
    width: 100%;
    height: 10vh;
    border-top: 1px solid #F1F1F1;
    bottom: -2em;
    margin-top: 3em;
    padding-top: .5em;
    clear: both;
}
.footer .footer__container p{
    font-size: 1.2rem;
    color: #778899;
}
/* Code config */
figure pre,
div pre{
    border-color: #EDEDED;
    border-radius: 3px;
}
figure pre::before,
div pre::before{
    text-transform: none;
    line-height: 1;
    font-family: "fontawesome" !important;
    content: "\f121";
    color: #778899;
    background-color: #EDEDED;
    border-radius: 3px;
    margin-top: -.8em;
    margin-right: -.7em;
    padding: 0.5em;
    float: right;
    clear: both;
}
@media only screen and (min-width: 768px) {
    .header{margin-bottom: 0}
    /* Primary menu */
    .header{
        background-color: #f5f5f5;
        border-bottom: 1px solid #E5E5E5;
        display: block;
    }
    .header #btn__menu{display: none;}
    .header .nav__menu{display: block}
    .header .nav__menu .nav__menu-brand{
        color: #333333;
        margin-left: 1em;
        padding: .8em 0 0 .2em;
        display: inline-block;
        float: left;
    }
    .header .nav__menu .nav__menu-primary{
        float: right;
        border-top: none;
    }
    .header .nav__menu .nav__menu-primary li{
        background-color: transparent;
        border-bottom: none;
        margin-top: .01em;
        margin-bottom: -.48em;
        padding: .7em 0;
        display: inline-block;
    }
    .header .nav__menu .nav__menu-primary li a{
        color: #333333;
        text-decoration: none;
        padding: 1em 1em;
    }
    .header .nav__menu .nav__menu-primary li a:hover,
    .header .nav__menu .nav__menu-primary li a:focus,
    .header .nav__menu .nav__menu-primary li a:active{
        color: #1e90ff;
    }
    .nav__menu .nav__menu-primary li.active a{
        font-weight: 600;
        color: #1e90ff;
    }
    .header .nav__menu .social{display: none; !important;}
    .header .page__header{display: none; !important;}
    /* Secondary menu */
    nav.header__menu{
        background-color: #ffffff;
        margin: 0;
    }
    .header__menu .nav__menu-secondary{
        border-top: none;
    }
    .header__menu .nav__menu-secondary li{
        margin-right: .6em;
        padding-bottom: .8em;
    }
    .header__menu .nav__menu-secondary li.current a{
        padding-bottom: 1.2em;
    }
    /* Sidebar */
    .sidebar .sidebar__avatar{
        width: 230px;
        height: 230px;
        padding: .3em;
        border: 1px solid #F1F1F1;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .sidebar .sidebar__avatar img{
        width: 220px;
        height: 220px;
        opacity: .6;
    }
    .sidebar a.name{
        color: #1b6d85;
        /*color: #333333;*/
        font-size: 2.4rem;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .1em;
        padding-left: .1em;
    }
    .sidebar .name #lname{font-weight: 600;}
    #home .sidebar .bio{
        color: #1b6d85;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-left: .2em;
    }
    .sidebar .twitter-follow-button{
        margin-left: 2em;
    }
    .sidebar .sidebar__meta .fa{
        color: #d3d3d3;
        margin-right: .5em;
    }
    .sidebar .sidebar__meta .fa-map-marker{
        margin-right: .7em;
        padding-left: .2em;
    }
    .sidebar .sidebar__meta .location{
        color: #778899;
        margin-top: .5em;
    }
    .sidebar .sidebar__footer .social{
        text-align: center;
        padding: .6em;
        border-top: 1px solid #F1F1F1;
        border-bottom: 1px solid #F1F1F1;
    }
    .sidebar .sidebar__footer .social li{
        padding: .3em;
        display: inline-block;
    }
    .sidebar .sidebar__footer .social li a{
        font-size: 2rem;
        /*color: #778899;*/
        color: #cccccc;
    }
    .sidebar .sidebar__footer .social li a:hover{color: #778899;}
    /* Footer */
    .footer{
        margin-top: 3em
    }
    .footer .footer__container{padding-top: .5em}
    .footer .footer__container .copy{float: left;}
    .footer .footer__container .author__create{float: right;}
    /* Code config */
    figure pre::before,
    div pre::before{
        margin-right: -.75em;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .sidebar{
        width: 33%;
        margin: 0 0 0 -6em;
    }
    #home .sidebar .name{font-size: 2.5rem;}
    .wrapper__content,
    #blog .single__post,
    #blog .blog__post,
    .header__blog{
        width: 130%;
    }
    .header .nav__menu .nav__menu-brand{padding-left: 3.4em;}
    .header .nav__menu .nav__menu-primary{margin-right: 3.6em;}
}
@media only screen and (min-width: 1280px) {
    /* Primary menu */
    .header .nav__menu .nav__menu-brand{
        margin-left: 13em;
    }
    .header .nav__menu .nav__menu-primary{
        margin-right: 14em;
    }
    .header .nav__menu .nav__menu-primary li a{
        margin-right: -.8em;
    }
    .wrapper__content{
        /*margin: 0 -1em;*/
        margin-right: -1em;
    }
    /* Footer */
    .footer .footer__container .copy{
        margin-left: 6.5em;
    }
}
/*
===============================
    Pages styles
===============================
*/
.wrapper__content article{
    margin: 0 -.5em .5em -.5em;
}
.wrapper__content article h4.heading{margin-top: 0;}
.wrapper__content article h4.heading a{
    text-decoration: none;
    color: #d3d3d3;
}
.wrapper__content article h4.heading a:hover{color: #778899;}
.wrapper__content article .content{
    padding: 0 .5em;
    border: 1px solid #e9e9e9;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/*----- Color Palete -----*/
.heading span{
    font-weight: 600;
}
.style1{
    color: #F1F1F1;
    background-color: #21B2A6;
}
.style1 .heading span{
    color: #ffffff;
    border-bottom: 1px solid #1D9C92;
}
.style1 a{
    color: #00FFCC;
    text-decoration: none;
    border-bottom: 1px dashed #00FFCC;
}
.style1 a:hover{
    color: #FFFF99;
    border-bottom: 1px solid #FFFF99;
}
.style1 .fa,
.style1 b,
.style1 .page__desc{color: #1D9C92}

.style2{
    color: #ffffff;
    background-color: #505393;
}
.style2 .heading span,
.style2 .wrapper__inner .heading span{
    color: #ffffff;
    border-bottom:1px solid #464981;
}
.style2 .page__desc{color: #ffffff}
.style3{
    background-color: #F6F9FA;
}
.style3 .heading span{
    color: #778899;
    border-bottom: 1px solid #778899;
}
.style3 .page__desc{color: #778899}
.style4{
    color: #ffffff;
    background-color: #2B343D;
}
.style5{
    color: #ffffff;
    background-color: #273038;
}
.style6{
    color: #F1F1F1;
    background-color: #b61924;
}
.style1 .page__desc, .style2 .page__desc, .style3 .page__desc, .style4 .page__desc, .style5 .page__desc, .style6 .page__desc{
    text-align: center;
    margin-top: -1.3em;
}
.icon .fa{color: #CCCCCC;}
.icon .fa:hover{color: #767676;}

/*----- Landing ----*/
section .wrapper{
    padding: 1em;
    margin: -.91em;
}
section .wrapper .heading span{
    border-bottom: 1px solid #778899;
    padding: .2em;
}
section .wrapper__inner .heading{
    margin-bottom: 2em;
    text-transform: uppercase;
    text-align: center;
}
/* who am i*/
#whoami p{
    text-align: center;
    /*font-size: 1.5rem;*/
}
/* Recent posts */
#posts .content{
    padding: .3em 0;
    border-bottom: 1px solid #F1F1F1;
    margin-top: -1em;
}
#posts .content  span{
    font-size: 1.5rem;
    color: #778899;
}

@media only screen and (min-width: 768px) {
    .wrapper__content article{
        margin: 0 0 .5em 0;
    }
    section .wrapper{
        margin: 0;
    }
    #whoami p{font-size: 1.6rem}
    #posts .content p{
        color: #212121;
        font-size: 1.5rem;
        margin-top: -.5em;
    }
}
/*----- Blog -----*/
.sidebar .box,
.blog__post .box,
section article.box{
    margin: 0 -.5em 1em -.5em;
    padding: .5em;
    border: 1px solid #e9e9e9;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.header__blog .header__content{
    margin: 0 -.5em 1em -.5em;
}
.sidebar .box,
.categories .box,
.tags .box{
    background-color: #F6F9FA;
}
.header__blog{
    margin-top: -.5em;
    margin-bottom: -.36em;
}
.header__blog  .header__content h1{
    font-size: 2em;
    color: #1b6d85;
    margin-bottom: .1em;
}
.header__blog .header__content .desc{
    color: #778899;
    margin-top: -.2em;
}
.blog .blog__post-content{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0;
    color: #212121;
}
.blog .blog__post .title{
    margin-top: 0;
}
.blog .blog__post .blog__post-date{
    color: #778899;
    margin-top: -.5em;
    margin-bottom: 0;
}
/* Single post */
.single__post .box p{
    color: #212121;
}
.post .header__blog .header__content h1{
    font-size: 2.7rem;
    margin-bottom: 0;
}
.post .header__blog .header__content .header__data{
    color: #778899;
    margin-left: 0;
}
/* Footer */
.post .post__footer .post__meta,
.post .post__footer .post__share{
    margin: 0 -.5em 1em -.5em;
}
.post .post__footer .post__meta {
    border-top: 1px solid #F1F1F1;
    padding: .5em 0;
}
.post .post__footer .post__meta ul li{
    font-size: 1.7rem;
    color: #778899;
    margin-bottom: .5em;
}
.post .post__footer .post__meta ul li span{
    background-color: #F6F9FA;
    padding: .2em .3em;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
}
.post .post__footer .post__meta ul li .fa-bookmark{margin-right: 1em;}
.post .post__footer .post__meta ul li .fa-tags{margin-right: .7em;}
.post .post__footer .footer__author{
    background-color: #F6F9FA;
    margin-bottom: .5em;
    padding: .5em;
}
.post .post__footer .footer__author img{
    width: 5em;
    height: 5em;
    margin: 0 .5em 0 .2em;
    float: left;
     opacity: .6;
}
.post .post__footer .footer__author-content .name{
    font-size: 2rem;
    color: #1b6d85;
    margin-bottom: -.1em;
}
.post .post__footer .footer__author-content .bio{
    font-size: 1.1rem;
    color: #778899;
    margin-bottom: 0;
}
.post .post__footer .footer__author-content .social li{
    padding: .3em;
    display: inline-block;
}
.post .post__footer .footer__author-content .social li a{color: #778899;}

.post .single__post .post__nav ul li{
    background-color: #F6F9FA;
    padding: .5em;
    border: 1px solid #F1F1F1;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.post .single__post .post__nav .previous,
.post .single__post .post__nav .next{
    text-decoration: none;
}
.post .single__post .post__nav .previous li,
.post .single__post .post__nav .next li,
.post .single__post .post__nav .previous.disabled li:hover,
.post .single__post .post__nav .next.disabled li:hover{
    color: #a9a9a9;
    font-size: 2rem;
}
.post .single__post .post__nav .previous li:hover,
.post .single__post .post__nav .next li:hover{
    color: #8a2be2;
}
/* Categories and Tags */
.categories  .box .click p,
.tags .box .click p{
    color: #9A9894;
}
.categories .box .tab-content .tab-pane h3.title,
.tags .box .tab-content .tab-pane h3.title{
    font-size: 2rem;
}
.categories .box .tab-content .tab-pane h3 .target,
.tags .box .tab-content .tab-pane h3 .target{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #9A9894;
    background-color: #ffffff;
    padding: .2em;
    border: 1px solid #F1F1F1;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.disqus__comments{
    margin-top: 2em;
}
@media only screen and (max-width: 320px) {
    .post .post__footer .footer__author-content .social{
        margin-left: 5.5em;
    }
}
@media only screen and (min-width: 768px) {
    #blog .nav__menu-secondary{display: none}
    .header__blog{
        background-color: #ffffff;
        margin-top: -1.5em;
    }
    .sidebar .box,
    .blog__post .box,
    section article.box,
    .header__blog .header__content{
        margin: 0 0 1em 0;
    }
    .box .breadcrumb{
        margin: -.5em -.5em .5em -.5em;
    }
    .header__blog  .header__content h1,
    .post .header__blog .header__content h1 {!important;
        font-size: 3.5rem;
    }
    .post .single__post{
        margin-top: 1.2em;
    }
    .post .single__post .box{
        margin-top: -.5em;
    }
    .post .post__footer .footer__author{
        border: 1px solid #F1F1F1;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .post .post__footer .footer__author img{
        margin-right: 1em;
        opacity: .6;
    }
    .post .post__footer .footer__author,
    .post .post__footer .post__meta,
    .post .post__footer .post__share{
        margin: 0;
    }
    .sidebar__footer .author__post{
        background-color: #F6F9FA;
    }
    #blog .sidebar{
        margin-top: 4.2em;
    }
    #blog .sidebar .sidebar__footer .author__post{
        padding: .5em;
        border: 1px solid #e9e9e9;

        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .post .sidebar .sidebar__footer .author__post{
        display: none;
    }
    #blog .sidebar .sidebar__footer img{
        width: 3em;
        height: 3em;
        margin-right: .5em;
        float: left;
        opacity: .6;
    }
    #blog .sidebar .sidebar__footer .author__post .name{
        font-size: 1.8rem;
        color: #778899;
        margin-bottom: -.3em;
        margin-top: 0;
    }
    #blog .sidebar .sidebar__footer .author__post .bio{
        font-size: 1.1rem;
        margin-top: .5em;
    }
    #blog .sidebar .sidebar__footer .author__post .social{
        font-size: 1rem;
        border: none;
        margin: 0;
    }
    #blog .sidebar .sidebar__footer .author__post .social li{
        padding: .2em;
    }
    #blog .sidebar .sidebar__footer .sidebar__footer-social li a{color: #778899;}
    #blog .sidebar .sidebar__footer .sidebar__footer-social li a:hover{color: #d3d3d3;}
    #blog .sidebar__footer blockquote{margin-top: 1em}
    #blog .sidebar__footer blockquote p{
        font-size: 1.2rem;
    }
    .categories .header__blog .title,
    .tags .header__blog .title{
        margin-left: -.2em;
    }
    .categories .no-box,
    .tags .no-box{
        background-color: #ffffff;
    }
    .categories .box .tab-content .tab-pane h3 .target,
    .tags .box .tab-content .tab-pane h3 .target{
        background-color: #F6F9FA;
    }
}
/*------- Projects -------*/
/*------- Research -------*/
#research article h4{
    font-weight: 600;
}
#research hr{
    margin-bottom: -1.4em;
}
#research .works{
    margin-top: 1em;
}
#research .works ul{
    display: inline;
    list-style: none;
}
#research .works ul li{
    font-size: 1.5rem;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;

    padding: .5em;
    border-bottom: 1px solid #faebd7;
}
#research .works ul li .title{
    font-weight: 600;
}

/*------- Docs -------*/
.docs header .wrapper__content,
.docs .docs__content .wrapper__content{
    padding: 1em;
    margin: -1em -.95em 1em -.95em;
}
.docs header .wrapper__content h1{
    font-size: 3.4rem;
    text-align: center;
    text-transform: uppercase;
}
.docs header .wrapper__content p{text-align: center}

/* Particle JS */
#stats,
.count-particles{
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 900px){
    #stats,
    .count-particles{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    /*------- Docs -------*/
    .docs{margin-bottom: 3em}
    .header__docs .docs__menu ul{
        padding-left: 12em;
        border-bottom: 1px solid #faebd7;
    }
    .header__docs .docs__menu ul li{
        display: inline-block;
        padding: 1em;
    }
    .header__docs .docs__menu ul li a{
        color: #333333;
        padding: 1.3em .5em 1.1em .5em;
        text-decoration: none;
        letter-spacing: .05em;
    }
    .header__docs .docs__menu ul li a:hover{color: #1e90ff}
    .header__docs .docs__menu ul li a:focus,
    .header__docs .docs__menu ul li.current a{
        color: #1e90ff;
        border-bottom: 2px solid #1e90ff;
    }
    .docs .docs__content .wrapper__content{
        margin-top: 0;
        padding: 1em .7em;
    }
    .docs .docs__content section{
        padding: 1em;
        margin: 0 -1em 0 0;
    }
    .docs .docs__content section header{
        margin-top: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 1280px){
    /*------- Particle JS -------*/
    canvas{
        display:block;
        vertical-align:bottom;
    }
    /* stats.js */
    .count-particles{
        display: block;
        background: #000022;
        position: absolute;
        top: 7.2em;
        left: 0;
        width: 80px;
        color: #13E8E9;
        font-size: .8em;
        text-align: left;
        text-indent: 4px;
        line-height: 14px;
        padding-bottom: 2px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
    .js-count-particles{
        font-size: 1.1em;
    }
    #stats,
    .count-particles{
        display: block;
        -webkit-user-select: none;
        margin-top: 5px;
        margin-left: 5px;
    }
    #stats{
        border-radius: 3px 3px 0 0;
        overflow: hidden;
    }
    .count-particles{
        border-radius: 0 0 3px 3px;
    }
    /* particles.js container */
    #particles-js{
        width: 100%;
        height: 60vh;
        /*background-color: #b61924;*/
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        margin-top: -1.5em;
    }
}
