{% assign int = resume.interests %}
<!--<section class="interests style__section">
    <h1>Professional and Research Interests</h1>
    <div class="row">
        <div class="content">
            {% for c in int %}
            <p class="category">{{ c.category }}</p>
            <ul>
                {% for i in c.list %}
                <li>{{ i }}</li>
                {% endfor %}
            </ul>
            <div style="clear: both"></div>
            {% endfor %}
        </div>
    </div>
</section>-->
{% if active.professional == true %}
<section class="interests style__section">
    <h1>{{ title.interests }}</h1>
    <div class="row">
        <div class="content">
            {% for c in int %}
            <p>{{ c.content }}</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

