{% assign exp = resume.experience | group_by: "last_date" %}
{% if active.work-experience == true %}
<section class="experience">
    <h1>{{ title.experience }}</h1>
    {% for r in exp reversed %}
    <div class="row">
        {% for j in r.items %}
            <div class="content">
                <p class="organization">{{ j.organization }}</p><br>
                <p class="title">{{ j.job-title }}</p>
                <p class="location">{{ j.location }}</p><br>
                <p class="date">{{ j.last_date}} - {{ j.end_date }}</p>
                <ul>
                    {% for i in j.work_description %}
                    <li>{{ i.item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
{% endif %}