---
layout: page
title: Blog Post
description: "My blog technical and disclosure of personal projects and thing of my mind."
permalink: /blog/
quote_author: einstein
---

{% include breadcrumb.html %}
<div class="blog">
    <h1 class="heading">{{ page.title }}</h1>
    <span>{{ page.description }}</span>
    {% for post in site.posts %}
    <article class="post">
        <p class="post-title">
            <a class="post-title" href="{{ post.url }}">{{ post.title }}</a> <br/>
        </p>
        {% if post.lang == "en" %}
        <p class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date: "%B %-d, %Y" }}</p>
        {% else %}
        <p class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</p>
        {% endif %}
        <p class="post-content">
            {% if post.fullview %}
            {{ post.content }}
            {% else %}
            {{ post.excerpt | markdown | strip_html | truncate: 150 }}
            {% endif %}
        </p>
        {% if post.lang == "en" %}
        <a class="readme" href="{{ post.url }}">Continue read&#8230</a>
        {% else %}
        <a class="readme" href="{{ post.url }}">Continue lendo&#8230</a>
        {% endif %}
    </article>
    {% endfor %}
</div>

