---
layout: page
title: Research
description: Research Projects, publications in peer-reviewed journals, conferences, my talks and others academic works
permalink: /research/
---

<div class="research">
    <h1 class="heading" style="text-align: center;font-size: 3rem;">
        <i class="fa fa-gear fa-2x"></i><br>
        Page under construction!!!
    </h1>
</div>

<!--
<div class="research">
    <article class="publications">
        <h1 class="heading">My Publications</h1>
        <span>{{ page.description }}</span><br>
        <span style="color: #778899">Nothing Published!!!</span>
    </article>
    <article class="works">
        <h4>Academics Works</h4>
        <span style="color: #778899">Nothing Works!!!</span>
        <ul>
            {% assign work = site.data.works | group_by: 'year' %}
            {% for year in work reversed %}
                {% for w in year.items %}
                    {% if w.name contains ' ' %}
                    <li>
                        {{ w.name }} <span class="title">{{ w.title }}.</span> {{ w.year }}. {{ w.pages }} p.
                        <span class="meta">{{ w.locale }}, {{ w.year }}.</span>
                        {{ w.language }}.
                        {% for arch in w.archive %}
                        {{ arch.item }}
                        [<a href="{{ arch.url }}" target="_blank">{{ arch.type }}</a>]
                        {% endfor %}.
                    </li>
                    {% endif %}
                {% endfor%}
            {% endfor %}
        </ul>
    </article>
    <article>
        <h4>Invited Talks</h4>
        <span style="color: #778899">Nothing Invited!!!</span>
    </article>
</div>-->
