{% if page.url contains 'pt' %}
<section id="whoami" class="wrapper style1">
    <div class="wrapper__inner">
        <header>
            <h4 class="heading">
                <span>Quem eu sou</span>
            </h4>
        </header>
        <p>
            Estudante de Ciência da Computação e Aspirante à Cientista de Dados. <br/>
            Interessado em Inteligência Artificial(mais especificamente em aprendizado de máquina e robótica),
            Bio-informática e Computação Bioinspirada. <br/>
            Minhas linguagens de programação favoritas, são <a href="https://www.python.org/" target="_blank">python</a> e
            <a href="https://www.r-project.org/" target="_blank">R</a>. <br/>
            Grande entusiasta de tecnologia, aeronáutica, tecnologia militar, Rock 'n Roll e Dance Music. <br/>
        </p>
        <p>
            Para informações profissionais e habilidades veja:
            <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">Linkedin</a> e
            <a href="http://stackoverflow.com/story/{{ site.author.stackoverflow }}" target="_blank">Stackoverflow professional</a>.
            Meus projetos open source, contribuições, estudos, práticas, estão em
            <a href="https://github.com/{{ site.author.github }}" target="_blank">Github</a>
            e <a href="https://bitbucket.org/{{ site.author.bitbucket }}" target="_blank">Bitbucket</a>. <br/>
            Sobre esse site <a href="{{ page.url }}sobre/site-config/">site</a>.
            Read in <a href="/">English</a>.
        </p>
        <!--<p>More Information</p>
        <ul class="">
            <li><a href="#" title="Resume"><i class="fa fa-file-pdf-o"></i> View my resume</a></li>
            <li><a href="" title="Linkedin"><i class="fa fa-linkedin"></i> Linkedin</a></li>
            <li><a href="#" title="Lattes - Academic CV(Portuguese)"><i class="fa fa-globe"></i> Lattes CV</a></li>
            <li><a href="#" title=""><i class="fa fa-group"></i> ResearchGate</a></li>
        </ul>-->
    </div>
</section>
{% else %}
<section id="whoami" class="wrapper default">
    <div class="wrapper__inner">
        <header>
            <h4 class="heading">
                <span>Who Am I</span>
            </h4>
        </header>
        <p>
            I'm a Student of Computer Science and Aspiring Data Scientist. <br/>
            <!--getting ready to start a new degree in physical.<br/>-->
            Focused on AI, Machine Learning & Natural Language Processing and Robotics.
            Interested in Data Science, Bio-informatics and Bioinspired Computing.<br/>
            My programming language favorite are <a href="https://www.python.org/" target="_blank">python</a> and
            <a href="https://www.r-project.org/" target="_blank">R</a>. <br/>
            Great enthusiast of technology, aeronautics, military technology, Rock 'n Roll and Dance Music.<br/>
        </p>
        <p>
            See my information professional and skills
            <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">Linkedin</a> and
            <a href="http://stackoverflow.com/story/{{ site.author.stackoverflow }}" target="_blank">Stackoverflow professional</a>.
            My open source code projects, contributions, studies, practice on
            <a href="https://github.com/{{ site.author.github }}" target="_blank">Github</a>
            and <a href="https://bitbucket.org/{{ site.author.bitbucket }}" target="_blank">Bitbucket</a>.<br/>
            Solving small issues and others, seen in <a href="{{ site.author.gist }}" target="_blank">Gist</a>.
            About this <a href="/about/site-config/">site</a>. <!--Ler em <a href="/pt/">Português</a>.-->
        </p>
        <!--<p>More Information</p>
        <ul class="">
            <li><a href="#" title="Resume"><i class="fa fa-file-pdf-o"></i> View my resume</a></li>
            <li><a href="" title="Linkedin"><i class="fa fa-linkedin"></i> Linkedin</a></li>
            <li><a href="#" title="Lattes - Academic CV(Portuguese)"><i class="fa fa-globe"></i> Lattes CV</a></li>
            <li><a href="#" title=""><i class="fa fa-group"></i> ResearchGate</a></li>
        </ul>-->
    </div>
</section>
{% endif %}