<section id="whoami" class="wrapper style1">
    <div class="wrapper__inner">
        <header>
            <h4 class="heading">
                <span>Who Am I</span>
            </h4>
            <p>
                I'm a Student of Computer Science and
                getting ready to start a new degree in physical.<br/>
                Interested in Artificial Intelligence
                (more specifically on machine learning and natural language processing)
                and  Data Science. <br/>
                My programming language favorite are <a href="https://www.python.org/" target="_blank">python</a> and
                <a href="https://www.r-project.org/" target="_blank">R</a>. <br/>
                I love Science, technology and aeronautics.<br/>
            </p>
            <p>
                See my information professional and skills
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">Linkedin</a> and
                <a href="http://stackoverflow.com/story/{{ site.author.stackoverflow }}" target="_blank">Stackoverflow professional</a>.
                My open source code projects, contributions, studies, practice on
                <a href="https://github.com/{{ site.author.github }}" target="_blank">Github</a>
                and <a href="https://bitbucket.org/{{ site.author.bitbucket }}" target="_blank">Bitbucket</a>. <br/>
                About this <a href="/about/site-config/">site</a>.
            </p>
        </header>
    </div>
</section>