---
layout: default
---

<div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1">
    <div class="row">
        {% include blog/sidebar-archives.html %}
        <div class="col-sm-9 col-md-8 col-md-push-1">
            <nav class="nav__menu-secondary visible-xs-block">
                <ul class="list-unstyled list-inline">
                    <li><a class="blog" href="/blog/">Blog</a></li>
                    <li><a class="category" href="/categories/">Categories</a></li>
                    <li><a class="tag" href="/tags/">Tags</a></li>
                </ul>
            </nav>
            <header class="header">
                <div class="header__container">
                    <div class="header__content">
                        <p class="title">{{ page.title }}</p>
                        <p class="desc">{{ page.description }}</p>
                    </div>
                </div>
            </header>
            {{ content }}
        </div>
    </div>
</div>
