---
layout: default
---

<header class="header__docs">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
</header>
<nav id="navbar" class="docs__menu">
    {% assign doc = site.data.docs %}
    <ul>
    {% for item in doc.docs %}
        {% assign item_url = item | prepend:"/learning/" | append:"/" %}
        {% assign p = site.docs | where:"url", item_url | first %}
        <li class="{% if page.url contains item_url %}current{% endif %}"><a href="{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
</nav>
<div class="docs col-xs-12 col-md-9 col-md-offset-1">
    <div class="row">
        <aside class="sidebar__menu col-md-3 col-md-push-1">
            <nav id="indice">
                <p>Teoria dos Grafos</p>
                <ul>
                    <li class="current"><a href="/learning/teoria-dos-grafos/">Introdução</a></li>
                    <li><a href="/learning/teoria-dos-grafos/analise-de-algoritmos/">Análise de Algoritmos</a></li>
                    <li><a href="">Teste</a></li>
                    <li><a href="">Teste</a></li>
                    <li><a href="">Teste</a></li>
                </ul>
            </nav>
        </aside>
        <div class="docs__content col-xs-12 col-md-8 col-md-push-1">
            <section>
                {{ content }}
            </section>
        </div>
    </div>
</div>





