---
layout: default
---

<!--<nav class="test__nav">
    {% assign doc = site.data.docs %}
    {% include docs/docs_ul.html items=doc.docs %}
</nav>-->
<header class="header__docs">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
</header>
<nav id="navbar" class="docs__menu">
    {% assign doc = site.data.docs %}
    {% include docs/docs_ul.html items=doc.docs %}
</nav>
<div class="docs col-xs-12 col-md-9 col-md-offset-1">
    <div class="row">
        <div class="docs__content col-xs-12 col-md-11 col-md-push-1">
            <section>
                {{ content }}
            </section>
        </div>
    </div>
</div>
<!--

<style>
    nav.test__nav{
        margin-bottom: 2.8em;
    }
    nav.test__nav ul{
        margin-left: 11em;
    }
    nav.test__nav ul li{
        display: inline-block;
    }
    nav.test__nav li+li{
        padding-left: 1.2em;
    }
</style>-->
