---
layout: default
---

<div class="col-xs-12 col-md-9 col-md-offset-1">
    <div class="row">
        {% include sidebar-author.html %}
        <div class="col-xs-12 col-sm-8 col-md-8 col-md-push-1">
            <nav class="nav__menu-secondary">
                <ul class="list-unstyled list-inline">
                    <li><a id="indice" href="/">Indice</a></li>
                    <li><a id="about" href="/about/">About</a></li>
                    {% for proj_hash in site.data.projects %}
                    {% assign proj = proj_hash[1] %}
                    <li><a id="projects" href="/projects/">Projects ({{ proj.projects | size }})</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <section class="wrapper__content">
                {{ content }}
            </section>
        </div>
    </div>
</div>