---
layout: default
---

<div class="col-xs-12 col-md-9 col-md-offset-1">
    <div class="row">
        {% include sidebar.html %}
        <div class="col-xs-12 col-sm-8 col-md-8 col-md-push-1">
            <!--<nav class="header__menu">
                <ul class="nav__menu-secondary list-unstyled">
                    <li><a id="indice" href="/">Index</a></li>
                    <li><a id="about" href="/about/">About</a></li>
                </ul>
            </nav>-->
            <section class="wrapper__content">
                {{ content }}
            </section>
        </div>
    </div>
</div>
