---
layout: default
comments: true
---

{% if page.title contains 'Blog' %}{% else %}
<nav class="nav__trilha">
    <ul class="list-inline hidden-xs">
        <li><a href="/blog/">All posts</a></li>
        <li class="{% if page.url contains 'categories' %}active {% endif %}"><a href="/categories/">Categories</a></li>
        <li class="{% if page.url contains 'tags' %}active {% endif %}"><a href="/tags/">Tags</a></li>
        <!--<li class="{% if page.url contains 'blog' %}active {% endif %}">{{ page.title }}</li>-->
        <li id="toTop"><a href="#">Back to Top <i class="fa fa-arrow-up"></i></a></li>
        {% if page.previous %}
        <li class="previous"><a href="{{ page.previous.url }}" title="{{ page.previous.title}}"><i class="fa fa-long-arrow-left"></i> Previous</a></li>
        {% else %}
        <li class="disabled previous">Empty</li>
        {% endif %}
        <li class="{% if page.url contains 'blog' %}active {% endif %}">{{ page.title }}</li>
        {% if page.next %}
        <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}">Next <i class="fa fa-long-arrow-right"></i></a></li>
        {% else %}
        <li class="disabled next">Empty</li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1">
    <div class="row">
        {% if page.title contains 'Blog' %}{% include blog/sidebar-archives.html %}{% endif %}
        <div class="{% if page.title contains 'Blog' %}col-sm-9 col-md-8{% else %}col-sm-12 col-md-11{% endif %} col-md-push-1">
            {% include blog/header.html %}
            {% if page.class == "post" %}
            <section class="wrapper__content single__post">
                <article class="box">
                    <!--<ul class="breadcrumb hidden-xs">
                        <li><a href="/blog/">All posts</a></li>
                        <li><a href="/categories/">Categories</a></li>
                        <li><a href="/tags/">Tags</a></li>
                        <li>{{ page.title }}</li>
                    </ul>-->
                    <p>
                        {{ page.content}}
                    </p>
                </article>
                {% include blog/post_footer.html %}
            </section>
            {% endif %}
            {% if page.class == "blog"%}
                {{ content }}
            {% endif %}
        </div>
    </div>
</div>

