---
layout: page
comments: true
---

{% include breadcrumb.html %}
{% assign author = site.author %}
<div class="single-post">
    <p class="page-title">{{ page.title }}</p>
    <p class="post-date">{{ page.date | date: "%B %-d, %Y" }}</p>
    <article class="post-content">
        {{ content }}
    </article>
    <footer class="author-footer">
        <img class="author-avatar" src="/assets/images/{{ site.image }}" alt="">
        <h4 class="author-name">{{ site.title }}</h4>
        <p class="author-desc">{{ site.description }}</p>
        {% include social.html %}
    </footer>
    {% include post_paginate.html %}
    {% include disqus.html %}
</div>

