---
layout: default
comments: true
---

<div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1">
    <div class="row">
        {% include blog/sidebar-archives.html %}
        <div class="col-sm-9 col-md-8 col-md-push-1">
            {% include blog/header.html %}
            {% if page.class == "post" %}
            <section class="single__post">
                <article class="box">
                    <ul class="breadcrumb hidden-xs">
                        <li><a href="/blog/">Blog</a></li>
                        <li>{{ page.title }}</li>
                    </ul>
                    <p>
                        {{ page.content}}
                    </p>
                </article>
                {% include blog/post_footer.html %}
            </section>
            {% endif %}
            {% if page.class == "blog"%}
                {{ content }}
            {% endif %}
        </div>
    </div>
</div>





