<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} &bullet; {{ site.name }}</title>
    <meta name="theme-color" content="#222222">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 100 }}{% else %}{{ page.description }}{% endif %}">
    <meta name="author" content="{{ site.name }}">
    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/{{ site.icon }}"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/resume.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/print-resume.css" media="print">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var host = "{{ site.enforce_ssl }}";
        if ((host == window.location.host) && (window.location.protocol != "https:"))
            window.location.protocol = "https";
    </script>
</head>
<body>
<nav class="nav">
    <ul class="nav-menu">
        <li class="{% if page.url contains 'en' %}active{% endif %}"><a href="/resume/en/">EN</a></li>
        <li class="{% if page.url contains 'pt' %}active{% endif %}"><a href="/resume/pt/">PT</a></li>
    </ul>
</nav>
<main class="main">
    {{ content }}
</main>
</body>
</html>